@import url("https://use.typekit.net/mjr8off.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "~@uploadthing/react/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  * {
  @apply p-0 m-0 box-border
  }
  
  
  body {
    @apply  font-poppins text-gray font-normal bg-white1 overflow-x-hidden
  }

  .logo {
    @apply inline text-3xl md:text-4xl text-primary font-extrabold
  }

  .logo span {
    @apply text-gray
  }

  .heading {
    @apply gap-4 mx-auto text-center font-poppins
  }

  .heading h3 {
    @apply md:text-2xl text-3xl font-extrabold text-center my-4
  }

  .heading span {
    @apply text-primary
  }

  .heading p {
    @apply font-light md:text-lg text-[16px]
  }

 
  .hover-button {
    @apply hover:text-primary hover:bg-transparent hover:border-primary
  }
  
  /*home page hero section*/
  .hero {
    @apply  grid grid-cols-1 md:grid-cols-2 items-center justify-center gap-8 w-full h-full md:h-[calc(100vh-98px)]
  }
  

  .hero .grid-1 {
    @apply flex flex-col md:items-start items-center justify-center
  }

  .hero .grid-1 p {
    @apply font-light text-lg text-center md:text-start
  }

  .hero .grid-1 div p{
    @apply text-3xl lg:text-5xl md:text-4xl font-bold mb-2 whitespace-nowrap
  }

  .hero .grid-1 div p:nth-child(1) span {
    @apply text-primary
  }

  .hero .grid-1 button {
    @apply border border-primary bg-primary text-white hover-button rounded-md px-6 py-3 mt-2  transition-all ease-in duration-75
  }

  .hero .grid-2 img {
    @apply p-0 mx-auto 
  }

  /* Facts*/

  .hero-facts {
    @apply relative flex items-center justify-center 
  }

  .hero-facts-grid {
    @apply absolute -top-[60px] grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 my-8 items-center justify-center gap-4 mb-4
  }

  .hero-facts-grid .contents {
    @apply hidden min-w-[300px] xl:flex items-start justify-start gap-6 bg-white rounded-lg shadow-custom p-6
  }

  .hero-facts-grid .contents {
    @apply flex
  }

  .hero-facts-grid .contents:nth-child(2) {
    @apply hidden xl:flex
  }
  .hero-facts-grid .contents:nth-child(3) {
    @apply hidden lg:flex
  }
  
  
  .hero-facts-grid .contents .icon {
    @apply p-4 rounded-full border-2 border-dashed  mx-auto flex items-center justify-center
  }

  .facts p:nth-child(1) {
    @apply text-lg font-bold whitespace-nowrap
  }

  .facts p:nth-child(2) {
    @apply font-light text-sm 
  }

  /* course section*/
  .course-section {
    @apply bg-white1 w-full h-full
  }

  .category-name {
    @apply  flex items-center justify-center gap-4 md:gap-12 flex-nowrap mx-auto
  }

  .category-name p{
    @apply relative font-bold text-[16px] md:text-lg cursor-pointer whitespace-nowrap mt-2 md:mt-0 after:h-1 after:w-0 after:rounded-full after:bg-primary after:absolute after:left-0 after:-bottom-1  hover:text-primary
   }

  .category-name p.active {
    @apply  text-primary  after:w-full after:bg-primary
  }


  .courses-wrapper {
    @apply flex sm:grid sm:grid-cols-2 xl:grid-cols-4 flex-col  gap-8 my-6
  }
  
  /*steps section*/

  .steps-section {
    @apply h-full bg-white
  }

  .steps-section .wrapper {
    @apply lg:grid flex flex-col grid-cols-2 items-center justify-center gap-8 my-12
  }
  
  /* inifinite scroll and reviews*/
  .reviews {
    @apply h-full
  }

    .review-wrapper {
      @apply min-w-[300px] bg-white shadow-custom rounded-lg p-8 
    }

    .review-wrapper .profile-wrapper {
      @apply flex items-start justify-start gap-3
    }

    .profile-wrapper .profile-img-wrapper {
      @apply flex  items-center justify-center w-16 h-16 rounded-full border-2 border-primary
    }

    .profile-img-wrapper img {
      @apply w-full h-auto rounded-full  m-1
    }

    .review-wrapper .contents {
      @apply my-auto flex flex-col
    }

    .review-wrapper .contents .name {
        @apply  text-lg font-bold text-primary
    }

    .review-wrapper .contents .role {
        @apply text-sm font-medium
    }

    .review-wrapper .contents .ranking {
      @apply flex gap-2 mt-1
    }

    .review-wrapper .contents .ranking .icon {
      @apply w-3 h-3 text-ranking
    }

    .review-wrapper .contents .ranking .icon.active {
      @apply text-grey
    }

    .review-wrapper .review {
      @apply text-sm font-normal my-3
    }

    /* inifinite scroll*/
      .scroll {
        @apply relative flex min-w-[300px] overflow-hidden gradient-mask-t-[90deg,transparent,white_20%,white,transparent_80%]
      }

      .scroll .inner {
        @apply flex  items-center justify-center  my-8 flex-nowrap 
      }

      .scroll .inner > div:nth-child(-n+3) {
        @apply mx-4
      }

  .scroll .inner:nth-child(1) {
    @apply animate-infinity animation-delay-20
  } 

  .scroll .inner:nth-child(2) {
    @apply animate-infinity1 animation-delay-10
  }

  /*Banner*/
 
  .banner-container {
   @apply  flex items-center justify-center my-5 font-poppins
  }

  .banner-wrapper {
    @apply flex flex-col items-center justify-center gap-4 mx-auto text-center flex-wrap basis-1/2
  }

  .banner-wrapper h3 {
    @apply text-2xl md:text-3xl font-extrabold text-white
  }

  .banner-wrapper p {
    @apply text-sm md:text-lg text-white
  }

  .banner-wrapper button {
    @apply  whitespace-nowrap mx-auto  px-10 py-3 border font-semibold text-sm  border-transparent bg-primary text-white rounded-md hover-button  transition-all ease-in duration-75
  }

}


/* Hide scrollbar but allow scrolling */
*::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #ccc; /* color of the scrollbar handle */
  border-radius: 3px; /* roundness of the scrollbar handle */
}

/* Handle on hover */*
::-webkit-scrollbar-thumb:hover {
  background: #ccc; /* color of the scrollbar handle on hover */
}



